assign-1-game-of-life/__MACOSX/
assign-1-game-of-life/build-game-of-life-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
assign-2-adts/assign-2-adts/build-maze-generator-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
assign-2-adts/assign-2-adts/build-random-sentence-generator-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
assign-2-adts/assign-2-adts/build-word-ladder-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
assign-2-adts/__MACOSX/
assign-3-boggle/build-boggle-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
assign-3-boggle/__MACOSX/
Empty-Project/